--prefer-binary

fastapi
pandas
pandasai
seaborn
matplotlib
plotly
openpyxl
requests
python-dotenv
google-generativeai
beautifulsoup4
pdf2image
pillow
python-pptx
nbconvert
nbparameterise
jupyter
powerbiclient
ipykernel
jupysql
pyarrow
sqlalchemy
duckdb-engine
sweetviz
jupyter-summarytools